:root {
	--test-size: 20px;
	--test-2-size: 10px;

	--test-color: #000;
	--test-3: orange;
	--native-var: 12px;
}

.test {
	--value: 123px;
	width: calc(var(--test-size) * 2 * var(--test-2-size));
	color: var(--test-color);
	height: var(--value);
	font-size: var(--native-var);
}

.test-2 {
	width: var(--test-size);
	height: var(--test-size);
	color: red;
	background-color: var(--orange);
}
