:root {
	$test-size: 20px;
	$test-2-size: 10px;

	$test-color: #000;
	$test-3: orange;
	--var: 12px;
}

.test {
	$value: 123px;
	width: calc($test-size * 2 * $test-2-size);
	color: $test-color;
	height: $value;
}

.test-2 {
	width: $test-size;
	height: $test-size;
	color: red;
	background-color: $orange;
}
